#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

config APP_SEL4BENCH
    bool "seL4 Benchmark"
    default y
    depends on LIB_SEL4_ALLOCMAN && LIB_SEL4 && HAVE_LIBC && LIB_UTILS && LIB_SEL4_UTILS && LIB_SEL4_PLAT_SUPPORT && LIB_SEL4_BENCH && LIB_PLATSUPPORT && LIB_SEL4_DEBUG && LIB_SEL4_BENCHSUPPORT
    depends on DANGEROUS_CODE_INJECTION || EXPORT_PMU_USER
    help
        seL4 Benchmark application.

config IPC_BENCHMARK
    bool "IPC Benchmark"
    default y
    depends on APP_SEL4BENCH
    help
        Run IPC Benchmark.

config IRQ_PATH_BENCHMARK
    bool "IRQ Path Benchmark"
    default n
    depends on APP_SEL4BENCH
    help
        Run IRQ Path Benchmark.
